
#component-graphs {

    svg {
        border: "black";
    }

    #tidytree {
        .node circle {
          fill: #999;
        }

        .node text {
          font: 10px sans-serif;
        }

        .node--internal circle {
          fill: #555;
        }

        .node--internal text {
          text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
        }

        .link {
          fill: none;
          stroke: #555;
          stroke-opacity: 0.4;
          stroke-width: 1.5px;
        }

        form {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          position: absolute;
          left: 10px;
          top: 10px;
        }

        label {
          display: block;
        }
    }


    .dataCenter {
        border: 1px solid black;
        padding: 5px;
        margin: 15px;
        .dcName { display: flex; }
        .machineList {
            display: flex;
            .passing { background: #b1fdb5; }
            .critical { background: orange; }
            .machine {
                display: flex;
                flex-flow: column;
                flex: 1;
                margin: 5px;
                padding: 5px;
                font-size: 12px;
                .machineName { display: block; }
                &:hover .hiddenServices {
                    display:flex;
                    position:absolute;
                }
                .hiddenServices {
                    background: #b7b7b7;
                    display: none;
                    flex-direction: row;
                    .services{
                        margin: 2px;
                        padding: 2px;
                        flex-direction: column;
                        display: flex;
                        .service {
                            margin: 2px;
                            padding: 2px;
                            background: #b1fdb5;
                        }
                    }
                    .checks{
                        margin: 2px;
                        padding: 2px;
                        flex-direction: column;
                        display: flex;
                        .passing { background: #b1fdb5; }
                        .critical { background: orange; }
                        .check {
                            margin: 2px;
                            padding: 2px;
                        }
                    }

                }

            }
        }
    }

}
